<div class="flex-continer pagination-container" fxLayout="row" fxLayoutAlign="end center">
	<div class="flex-item" style="text-align:right;" fxFlex>
		Rows per page:
	</div>
	<div class="flex-item" fxFlex="64px">
		10 V
	</div>
	<div class="flex-item" style="margin:0 32px;" fxFlex="80px">
		1-10 of 100
	</div>
	<div class="flex-item" fxFlex="24px">
		<button md-icon-button>
			<md-icon>navigate_before</md-icon>
		</button>
	</div>
	<div class="flex-item" fxFlex="24px">
		
	</div>
	<div class="flex-item" style="margin-right:14px" fxFlex="24px">
		<button md-icon-button>
			<md-icon>navigate_next</md-icon>
		</button>
	</div>
</div>