.pagination-container {
	font-size: 12px;
    color: rgba(0,0,0,0.54);
	font-weight: 500;
	height: 56px;
	text-align: right;
	border-top: 1px solid #E0E0E0;
}

.pagination-nav-button {
	width: 24px;
	height: 24px;
	margin-right: 24px;
}

.pagination-nav-button-icon {
	position: relative;
	top: -9px; // Different for all browsers...
}