<div class="page-title">Upload File from Android App</div>
<div class="page-subtitle">Select a data file that was exported from the Android application to upload to the web application.</div>
<div class="page-content">
    <app-file-upload #fileUpload restUrl="mobile" label="BROWSE..." (uploadResult)="test($event)"></app-file-upload>
    <div *ngIf="processing" style="text-align: center;">
        <div style="font-size:24px; padding:24px;">
            Processing...
        </div>
        <md-progress-bar mode="indeterminate"></md-progress-bar>
    </div>
<div class="page-content">