<div md-dialog-title>ISE Recheck</div>
<md-dialog-content>
	<div class="dialog-form-container">
		<div class="flex-container" fxLayout="row">
			<app-date-picker-input placeholder="Date"
				[initialDate]="dateTime.date"
				(dateChanged)="dateChanged($event)"
				class="flex-item"
				fxFlex
				style="padding-right: 16px;">
				</app-date-picker-input>
			<app-time-picker-input placeholder="Time"
				[initialDate]="dateTime.time"
				(dateChanged)="timeChanged($event)"
				class="flex-item"
				fxFlex
				style="padding-left: 16px;">
				</app-time-picker-input>
		</div>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Description" [(ngModel)]="data.description">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput type="number" placeholder="Value (ppm/v)" [(ngModel)]="data.methaneLevel">
		</md-input-container>
		<md-select [(ngModel)]="data.inspector" placeholder="Inspector" class="mat-select-row" style="width:100%">
			<md-option *ngFor="let user of users" [value]="user">
				{{StringUtils.formatUserName(user)}}
			</md-option>
		</md-select>
		<md-select [(ngModel)]="data.instrument" placeholder="Instrument S/N" class="mat-select-row" style="width:100%">
			<md-option *ngFor="let instrument of instruments" [value]="instrument">
				{{instrument.serialNumber}}
			</md-option>
		</md-select>
	</div>
</md-dialog-content>
<md-dialog-actions>
	<button md-button (click)="cancel()">
		CANCEL
	</button>
	<button md-button (click)="submit()" [disabled]="!canSubmit()">
		SAVE
	</button>
</md-dialog-actions>