<div class="page grey-background flex-container" fxLayout="row">
	<div class="flex-item" fxFlex>
		<md-tab-group selectedIndex="1" class="md-tab-header-white" style="height: 100%">
			<md-tab label="Details">
				<div class="tab-contents grey-background">
					<div *ngIf="!isDataLoaded || !isInstrumentsLoaded">
						<app-page-loading-indicator></app-page-loading-indicator>
					</div>
					<div *ngIf="isDataLoaded && isInstrumentsLoaded">
						<md-card>
							<md-card-content>
								<div class="card-title">
									Data Set Details
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Site
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{unverifiedDataSet.site?.name}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Inspector
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{StringUtils.formatUserName(unverifiedDataSet.inspector)}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Filename
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{unverifiedDataSet.filename}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Upload Date
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{DateTimeUtils.getDetailedDateTime(unverifiedDataSet.createdDate)}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Uploaded By
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{StringUtils.formatUserName(unverifiedDataSet.createdBy)}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Last Edited
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{DateTimeUtils.getDetailedDateTime(unverifiedDataSet.modifedDate)}}
									</div>
								</div>
								<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
									<div class="info-card-data-key flex-item" fxFlex="96px">
										Edited By
									</div>
									<div class="info-card-data-value truncate flex-item" fxFlex>
										{{StringUtils.formatUserName(unverifiedDataSet.modifiedBy)}}
									</div>
								</div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-tab>
			<md-tab label="Instantaneous">
				<div class="tab-contents grey-background">
					<div *ngIf="!isDataLoaded" class="page-loading-indicator-container">
						<app-page-loading-indicator></app-page-loading-indicator>
					</div>
					<div *ngIf="isDataLoaded">
						<md-card>
							<md-card-content>
								<div class="card-title">
									Errors
								</div>
								<div *ngIf="!unverifiedDataSet.errors?.instantaneous?.length" style="padding:8px 0;">
									<i>No errors found.</i>
								</div>
								<div *ngIf="unverifiedDataSet.errors">
									<div *ngFor="let error of unverifiedDataSet.errors.instantaneous" class="error-item">
										{{error}}
									</div>
								</div>
							</md-card-content>
						</md-card>
						<md-card class="data-table-card">
							<md-card-content>
								<div class="data-table-card-title-row">
									Instantaneous Readings
								</div>
								<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-checkbox-column data-table-checkbox-header truncate flex-item" fxFlex="68px">
										<md-checkbox></md-checkbox>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="3">
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="5">
										<span class="data-table-header-label">Start</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="5">
										<span class="data-table-header-label">End</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Instrument</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Barometric</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">IME Number(s)</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.unverifiedInstantaneousData?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let unverifiedInstantaneousData of unverifiedDataSet.unverifiedInstantaneousData" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editInstantaneous(unverifiedInstantaneousData)"
											[ngClass]="{'data-table-row-content-active': activeItem === unverifiedInstantaneousData}">
											<div class="data-table-checkbox-column truncate flex-item" fxFlex="68px">
												<md-checkbox [(ngModel)]="unverifiedInstantaneousData.selected" 
													(click)="toggleInstantaneous(unverifiedInstantaneousData)">
												</md-checkbox>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="3">
												{{unverifiedInstantaneousData.monitoringPoint?.name}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="5">
												{{DateTimeUtils.getTime(unverifiedInstantaneousData.startTime)}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="5">
												{{DateTimeUtils.getTime(unverifiedInstantaneousData.endTime)}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedInstantaneousData.instrument?.serialNumber" class="error-inline">
													None set
												</div>
												{{unverifiedInstantaneousData.instrument?.serialNumber}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedInstantaneousData.barometricPressure" class="error-inline">
													Not set
												</div>
												<div [ngStyle]="{'error-inline': unverifiedInstantaneousData.barometricPressure < 2950 || unverifiedInstantaneousData.barometricPressure > 3050}">
													{{unverifiedInstantaneousData.barometricPressure / 100}}
												</div>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{unverifiedInstantaneousData.methaneLevel / 100}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{listImeNumbers(unverifiedInstantaneousData)}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="instantaneousMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #instantaneousMenu="mdMenu">
													<button md-menu-item (click)="editInstantaneous(unverifiedInstantaneousData)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
						<md-card class="data-table-card">
							<md-card-content>
								<div class="data-table-card-title-row">
									Warmspot Entries
								</div>
								<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-checkbox-column data-table-checkbox-header truncate flex-item" fxFlex="68px">
										<md-checkbox></md-checkbox>
									</div>
									<div class="data-table-first-column truncate flex-item" fxFlex="5">
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Instrument</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Size</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="33">
										<span class="data-table-header-label">Description</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.unverifiedWarmspotData?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let unverifiedWarmspotData of unverifiedDataSet.unverifiedWarmspotData" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editWarmspot(unverifiedWarmspotData)"
											[ngClass]="{'data-table-row-content-active': activeItem === unverifiedWarmspotData}">
											<div class="data-table-checkbox-column truncate flex-item" fxFlex="68px">
												<md-checkbox [checked]="selectedInstantaneous.indexOf(unverifiedInstantaneousData) > -1" 
													(click)="toggleInstantaneous(unverifiedInstantaneousData)">
												</md-checkbox>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="5">
												{{unverifiedWarmspotData.monitoringPoint?.name}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedWarmspotData.instrument?.serialNumber" class="error-inline">
													None set
												</div>
												{{unverifiedWarmspotData.instrument?.serialNumber}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{unverifiedWarmspotData.methaneLevel / 100}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedWarmspotData.size" class="error-inline">
													Not set
												</div>
												{{unverifiedWarmspotData.size}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="33">
												<div *ngIf="!unverifiedWarmspotData.size" class="error-inline">
													Not set
												</div>
												{{unverifiedWarmspotData.description}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="warmspotMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #warmspotMenu="mdMenu">
													<button md-menu-item (click)="editWarmspot(unverifiedWarmspotData)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
						<md-card class="data-table-card">
							<md-card-content>
								<div class="data-table-card-title-row">
									Instantaneous Exceedances
								</div>
								<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-first-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">IME Number</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Discovery Date</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Initial Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="25">
										<span class="data-table-header-label">Description</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.imeNumbers?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let imeNumber of unverifiedDataSet.imeNumbers" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editImeNumber(imeNumber)"
											[ngClass]="{'data-table-row-content-active': activeItem === imeNumber}">
											<div class="data-table-first-column truncate flex-item" fxFlex>
												{{imeNumber.imeNumber}}*
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{imeNumber.monitoringPoints[0].name}} <!-- TODO Fix this -->
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{imeNumber.imeData && imeNumber.imeData[0] ? DateTimeUtils.getDate(imeNumber.imeData[0].dateTime) : ''}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{imeNumber.imeData && imeNumber.imeData[0] ? imeNumber.imeData[0].methaneLevel / 100: ''}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="25">
												{{imeNumber.imeData && imeNumber.imeData[0] ? imeNumber.imeData[0].description : ''}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="imeMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #imeMenu="mdMenu">
													<button md-menu-item (click)="editImeNumber(imeNumber)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-tab>
			<md-tab label="Integrated">
				<div class="tab-contents grey-background">
					<div *ngIf="!isDataLoaded" class="page-loading-indicator-container">
						<app-page-loading-indicator></app-page-loading-indicator>
					</div>
					<div *ngIf="isDataLoaded">
						<md-card>
							<md-card-content>
								<div class="card-title">
									Errors
								</div>
								<div *ngIf="!unverifiedDataSet.errors?.integrated?.length" style="padding:8px 0;">
									<i>No errors found.</i>
								</div>
								<div *ngIf="unverifiedDataSet.errors">
									<div *ngFor="let error of unverifiedDataSet.errors.integrated" class="error-item">
										{{error}}
									</div>
								</div>
							</md-card-content>
						</md-card>
						<md-card class="data-table-card">
							<md-card-content>
								<div class="data-table-card-title-row">
									Integrated Readings
								</div>
								<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-checkbox-column data-table-checkbox-header truncate flex-item" fxFlex="68px">
										<md-checkbox></md-checkbox>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="3">
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="5">
										<span class="data-table-header-label">Start</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="5">
										<span class="data-table-header-label">End</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Instrument</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Barometric</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="4">
										<span class="data-table-header-label">Bag No.</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="4">
										<span class="data-table-header-label">Volume</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.unverifiedIntegratedData?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let unverifiedIntegratedData of unverifiedDataSet.unverifiedIntegratedData" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editIntegrated(unverifiedIntegratedData)"
											[ngClass]="{'data-table-row-content-active': activeItem === unverifiedIntegratedData}">
											<div class="data-table-checkbox-column truncate flex-item" fxFlex="68px">
												<md-checkbox [checked]="unverifiedIntegratedData.selected" 
													(click)="toggleIntegrated(unverifiedIntegratedData)">
												</md-checkbox>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="3">
												{{unverifiedIntegratedData.monitoringPoint?.name}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="5">
												{{DateTimeUtils.getTime(unverifiedIntegratedData.startTime)}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="5">
												{{DateTimeUtils.getTime(unverifiedIntegratedData.endTime)}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedIntegratedData.instrument?.serialNumber" class="error-inline">
													None set
												</div>
												{{unverifiedIntegratedData.instrument?.serialNumber}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedIntegratedData.barometricPressure" class="error-inline">
													Not set
												</div>
												<div [ngStyle]="{'error-inline': unverifiedIntegratedData.barometricPressure < 2950 || unverifiedIntegratedData.barometricPressure > 3050}">
													{{unverifiedIntegratedData.barometricPressure / 100}}
												</div>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{unverifiedIntegratedData.methaneLevel / 100}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="4">
												{{unverifiedIntegratedData.bagNumber}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="4">
												{{unverifiedIntegratedData.volume}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="integratedMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #integratedMenu="mdMenu">
													<button md-menu-item (click)="editIntegrated(unverifiedIntegratedData)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
						<md-card class="data-table-card">
							<md-card-content>
								<div class="data-table-card-title-row">
									Integrated Exceedances
								</div>
								<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-first-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">ISE Number</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Discovery Date</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Initial Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="25">
										<span class="data-table-header-label">Description</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.iseNumbers?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let iseNumber of unverifiedDataSet.iseNumbers" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editIseNumber(iseNumber)"
											[ngClass]="{'data-table-row-content-active': activeItem === iseNumber}">
											<div class="data-table-first-column truncate flex-item" fxFlex>
												{{iseNumber.iseNumber}}*
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{iseNumber.monitoringPoint.name}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{iseNumber.iseData && iseNumber.iseData[0] ? DateTimeUtils.getDate(iseNumber.iseData[0].dateTime) : ''}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{iseNumber.iseData && iseNumber.iseData[0] ? iseNumber.iseData[0].methaneLevel / 100: ''}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="25">
												{{iseNumber.iseData && iseNumber.iseData[0] ? iseNumber.iseData[0].description : ''}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="imeMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #imeMenu="mdMenu">
													<button md-menu-item (click)="editIseNumber(iseNumber)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-tab>
			<md-tab label="Probe">
				<div class="tab-contents grey-background">
					<div *ngIf="!isDataLoaded" class="page-loading-indicator-container">
						<app-page-loading-indicator></app-page-loading-indicator>
					</div>
					<div *ngIf="isDataLoaded">
						<md-card>
							<md-card-content>
								<div class="data-table-card-title-row">
									Probe Readings
								</div>
									<div class="unselectable data-table-header-row flex-container" fxLayout="row">
									<div class="data-table-checkbox-column data-table-checkbox-header truncate flex-item" fxFlex="68px">
										<md-checkbox></md-checkbox>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Grid</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Instrument</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Barometric</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex>
										<span class="data-table-header-label">Reading (ppm)</span>
									</div>
									<div class="data-table-column truncate flex-item" fxFlex="40">
										<span class="data-table-header-label">Description</span>
									</div>
									<div class="data-table-last-column truncate flex-item" fxFlex="40px">
										<span class="data-table-header-label">Action</span>
									</div>
								</div>
								<div *ngIf="unverifiedDataSet.unverifiedProbeData?.length == 0" class="data-table-no-data-label">
									No Data
								</div>
								<div>
									<div *ngFor="let unverifiedProbeData of unverifiedDataSet.unverifiedProbeData" class="data-table-row">
										<div class="data-table-row-content flex-container" 
											fxLayout="row" 
											(dblclick)="editProbeData(unverifiedProbeData)"
											[ngClass]="{'data-table-row-content-active': activeItem === unverifiedProbeData}">
											<div class="data-table-checkbox-column truncate flex-item" fxFlex="68px">
												<md-checkbox [checked]="unverifiedProbeData.selected" 
													(click)="toggleProbeData(unverifiedProbeData)">
												</md-checkbox>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{unverifiedProbeData.monitoringPoint?.name}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedProbeData.instrument?.serialNumber" class="error-inline">
													None set
												</div>
												{{unverifiedProbeData.instrument?.serialNumber}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												<div *ngIf="!unverifiedProbeData.barometricPressure" class="error-inline">
													Not set
												</div>
												<div [ngStyle]="{'error-inline': unverifiedProbeData.barometricPressure < 2950 || unverifiedProbeData.barometricPressure > 3050}">
													{{unverifiedProbeData.barometricPressure / 100}}
												</div>
											</div>
											<div class="data-table-column truncate flex-item" fxFlex>
												{{unverifiedProbeData.methaneLevel / 100}}
											</div>
											<div class="data-table-column truncate flex-item" fxFlex="40">
												{{unverifiedProbeData.description}}
											</div>
											<div class="data-table-action-column truncate flex-item" fxFlex="64px">
												<button md-icon-button [mdMenuTriggerFor]="probeMenu">
													<md-icon>more_vert</md-icon>
												</button>
												<md-menu #probeMenu="mdMenu">
													<button md-menu-item (click)="editProbeData(unverifiedProbeData)">Edit</button>
													<button md-menu-item>Delete</button>
												</md-menu>
											</div>
										</div>
									</div>
								</div>
								<div class="data-table-card-footer"></div>
							</md-card-content>
						</md-card>
					</div>
				</div>
			</md-tab>
		</md-tab-group>
	</div>
	<!--
	<div class="flex-item" fxFlex="320px" class="sideinfo">
		<div class="sideinfo-top-padding"></div>
		<div class="sideinfo-background grey-background">
			<md-card *ngIf="isDataLoaded">
				<md-card-content>
					<div class="card-title">
						Details
					</div>
				</md-card-content>
			</md-card>
		</div>
	</div>
	-->
	<!--
	<div class="fab-top-container" style="top: 144px;">
		<div class="flex-container" fxLayout="column" fxLayoutAlign="end center">
			<button md-fab (click)="save()" mdTooltip="Info" mdTooltipPosition="below" class="fab-button-white flex-item" fxFlex="56px">
				<md-icon>info_outline</md-icon>
			</button>
		</div>
	</div>
	-->
	<div class="fab-bottom-container">
		<div class="flex-container" fxLayout="column" fxLayoutAlign="end center">
			<button md-fab (click)="save()" mdTooltip="Save" mdTooltipPosition="above" class="fab-button-white flex-item" fxFlex="56px">
				<md-icon>save</md-icon>
			</button>
			<button md-fab (click)="commitAll()" mdTooltip="Commit" mdTooltipPosition="above" class="flex-item" fxFlex="56px">
				<md-icon>done</md-icon>
			</button>
		</div>
	</div>
	<!--
	<div *ngIf="unverifiedDataSet" class="info-card-container flex-container" fxLayout="row" fxLayoutAlign="start start" [ngClass]="{'info-card-container-open': infoCardOpen}">
		<button md-raised-button (click)="toggleInfoCard()" [mdTooltip]="infoCardOpen ? 'Close' : 'Expand'" mdTooltipPosition="before" class="flex-item" fxFlex="36px">
			<md-icon>{{infoCardOpen ? 'navigate_next' : 'navigate_before'}}</md-icon>
		</button>
		<div class="info-card mat-elevation-z0" [ngClass]="{'mat-elevation-z5': infoCardOpen}">
			<div class="card-title">
				Details
			</div>
			<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="info-card-data-key flex-item" fxFlex="96px">
					Site
				</div>
				<div class="info-card-data-value truncate flex-item" fxFlex="320px">
					{{unverifiedDataSet.site?.name}}
				</div>
			</div>
			<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="info-card-data-key flex-item" fxFlex="96px">
					Inspector
				</div>
				<div class="info-card-data-value truncate flex-item" fxFlex="320px">
					{{StringUtils.formatUserName(unverifiedDataSet.inspector)}}
				</div>
			</div>
			<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="info-card-data-key flex-item" fxFlex="96px">
					Upload Date
				</div>
				<div class="info-card-data-value truncate flex-item" fxFlex="320px">
					{{DateTimeUtils.getDetailedDateTime(unverifiedDataSet.createdDate)}}
				</div>
			</div>
			<div class="info-card-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="info-card-data-key flex-item" fxFlex="96px">
					Filename
				</div>
				<div class="info-card-data-value truncate flex-item" fxFlex="320px">
					{{unverifiedDataSet.filename}}
				</div>
			</div>
		</div>
	</div>
	-->
<div>
