<div class="background">
	<div class="logo-container">
		<img src="/src/public/images/la-san-logo.png">
	</div>
	<div class="card-container flex-container" fxLayout="row" fxLayoutAlign="center center">
		<md-card fxFlex="400px" style="padding:32px 24px;">
			<md-card-content>
				<div>
					<md-input-container style="width:100%">
						<input [(ngModel)]="credentials.username" mdInput placeholder="Username">
					</md-input-container>
				</div>
				<div>
					<md-input-container style="width:100%">
						<input type="password" [(ngModel)]="credentials.password" mdInput placeholder="Password" (keyup.enter)="login()">
					</md-input-container>
				</div>
				<button md-raised-button color="warn" class="login-button" (click)="login()">LOGIN</button>
			</md-card-content>
		</md-card>
	</div>
</div>