.background {
    background-color: greenyellow;
    height: 100%;
}

.logo-container {
    text-align: center;
    padding: 100px 0 50px 0;
    img {
        width: 300px;
    }
}

.card-container {
    text-align: center;
}
