.background {
	background-image: url("../../../../public/images/brighterLandfill.jpg");
	
	//background-image: url("http://www.clui.org/sites/default/files/imagecache/clui-image/clui/post_images/waste_stream1_600.jpg");
	//background-color: #774422;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center; 
	height: 100%;
}

.logo-container {
	text-align: center;
	padding: 100px 0 50px 0;
	img {
		width: 300px;
	}
}

.card-container {
	text-align: center;
}

.login-button {
	width: 100%;
	margin: 16px 0;
}
