<div class="section-multiple-container">
	<div class="section-title">Equipment Type</div>
	<div class="flex-container" fxLayout="column" fxLayout.gt-md="row">
		<md-card class="section-multiple flex-item" fxFlex="37">
			<md-card-content>
				<div class="section-title">Equipment Type Info</div>
				<div *ngIf="!isDataLoaded" class="loading-indicator-container">
					<md-spinner class="loading-indicator-spinner"></md-spinner>
					<div class="loading-indicator-message">Loading...</div>
				</div>
				<div *ngIf="isDataLoaded" class="section-form-container">
					<md-input-container class="md-input-full-width">
						<input mdInput placeholder="Type" [(ngModel)]="instrumentType.type">
					</md-input-container>
					<md-input-container class="md-input-full-width">
						<input mdInput placeholder="Description" [(ngModel)]="instrumentType.manufacturer">
					</md-input-container>
					<md-input-container class="md-input-full-width">
						<input mdInput placeholder="Description" [(ngModel)]="instrumentType.description">
					</md-input-container>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.instantaneous">Instantaneous/Integrated</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.probe">Probes/Gas Wells</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.methanePercent">CH<sub>4</sub> Percent</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.methanePpm">CH<sub>4</sub> ppm</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.hydrogenSulfidePpm">H<sub>2</sub>S ppm</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.oxygenPercent">O<sub>2</sub> Percent</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.carbonDioxidePercent">CO<sub>2</sub> Percent</md-checkbox>
					</div>
					<div>
						<md-checkbox [(ngModel)]="instrumentType.nitrogenPercent">N<sub>2</sub> Percent</md-checkbox>
					</div>
					<div>	
						<md-checkbox [(ngModel)]="instrumentType.pressure">Pressure</md-checkbox>
					</div>
				</div>
			</md-card-content>
		</md-card>
		<md-card class="section-multiple flex-item" fxFlex>
			<md-card-content>
				<div class="section-title">Equipment List</div>
				<div *ngIf="isDataLoaded" class="section-form-container">
					<div *ngIf="!instrumentType.instruments || instrumentType.instruments.length == 0">
						<i>No records.</i>
					</div>
					<div *ngIf="instrumentType.instruments && instrumentType.instruments.length > 0" class="data-table">
						<div class="unselectable data-table-header-row flex-container" fxLayout="row">
							<div class="truncate flex-item" fxFlex (click)="sortBy('serialNumber')">
								<span class="data-table-header-label-sortable">Serial Number</span>
								<md-icon class="data-table-header-sort-arrow" [ngClass]="{
									'data-table-header-sort-arrow-reverse':sort.reversed,
									'data-table-header-sort-arrow-inactive':sort.current !== 'serialNumber'}">
									arrow_downward</md-icon>
							</div>
							<div class="truncate flex-item" fxFlex (click)="sortBy('instrumentStatus')">
								<span class="data-table-header-label-sortable">Status</span>
								<md-icon class="data-table-header-sort-arrow" [ngClass]="{
									'data-table-header-sort-arrow-reverse':sort.reversed,
									'data-table-header-sort-arrow-inactive':sort.current !== 'instrumentStatus'}">
									arrow_downward</md-icon>
							</div>
							<div class="truncate flex-item" fxFlex="40">
								<span class="data-table-header-label">Description</span>
							</div>
						</div>
						<div *ngFor="let instrument of instrumentType.instruments; let isOdd = odd" class="data-table-row flex-container" fxLayout="row" [ngClass]="{'data-table-odd-row': isOdd}">
							<div class="truncate flex-item" fxFlex>
								<a [routerLink]="'../../instrument/' + instrument.id" routerLikeActive="active">
									{{instrument.serialNumber}}
								</a>
							</div>
							<div class="truncate flex-item" fxFlex>
								{{instrument.instrumentStatus}}
							</div>
							<div class="truncate flex-item" fxFlex="40">
								{{instrument.description}}
							</div>
						</div>
					</div>
				</div>
			</md-card-content>
		</md-card>
	</div>
<div>
<div class="fab-action-button-container">
	<button md-fab (click)="save()" mdTooltip="Save" mdTooltipPosition="above">
		<md-icon>save</md-icon>
	</button>
</div>