<md-dialog-content>
	<div class="section-title">Register New User</div>
	<div class="section-form-container">
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Username" [(ngModel)]="user.username">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Password" [(ngModel)]="user.password" type="password">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="First Name" [(ngModel)]="user.firstname">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Middle Name" [(ngModel)]="user.middlename">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Last Name" [(ngModel)]="user.lastname">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Email" [(ngModel)]="user.emailAddress">
		</md-input-container>
	</div>
</md-dialog-content>
<md-dialog-actions>
	<button md-button (click)="cancel()">
		CANCEL
	</button>
	<button md-button (click)="confirm()">
		CONFIRM
	</button>
</md-dialog-actions>