@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

$navbar-height: 64px;

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    height: 100%;
    body {
        margin: 0;
        height: 100%;
    }
}

// Navbar + Sidenav
md-sidenav-container {
    background: #EEE !important;
    top: $navbar-height !important;
}
md-toolbar-row {
    height: $navbar-height !important;
}
.navbar-shadow {
    width: 100%;
    height: $navbar-height;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 6.9px rgba(0,0,0,0.69);
    z-index: 9001;
    pointer-events: none;
}

a {
    color: #2196F3;
    text-decoration: none;
}

.md-input-full-width {
    width: 100%;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.component {
    padding: 0 16px;
}

.section-single {
    margin: 24px;
}

.section-multiple {
    margin: 12px;
}

.section-multiple-container {
    padding: 12px;
}

.list-table{
    padding: 16px;
}

.list-table-header {
    text-align: left;
    font-weight: bold;
    padding: 12px 0;
    border-bottom: solid 1px #DDD;
}

.list-table-row {
    height: 54px;
    padding-top: 18px;
    background: #F3F3F3;
}

.list-table-odd-row {
    background: #FFF;
}