@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

$navbar-height: 64px;

html {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    height: 100%;
    body {
        margin: 0;
        height: 100%;
    }
}

// Navbar + Sidenav
md-sidenav-container {
    top: $navbar-height !important;
}
md-toolbar-row {
    height: $navbar-height !important;
}
.navbar-shadow {
    width: 100%;
    height: $navbar-height;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 6.9px rgba(0,0,0,0.69);
    z-index: 9001;
    pointer-events: none;
}

.component {
    padding: 0 16px;
}