.loading-indicator-container {
	padding-top: 32px;
}

.loading-indicator-spinner {
	padding-left: calc(50% - 50px);
}

.loading-indicator-message {
	font-weight: 400;
	font-size: 24px;
	text-align: center;
    padding-top: 16px;
}