<div class="dashboard-container">
	<div class="dashboard-title">
		Welcome to Landfill e-Forms!
	</div>
	<!--<img class="dashboard-logo" [src]="logoUrl">-->
	<div class="flex-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
		<div *ngFor="let gridItem of gridItems">
			<div *ngIf="gridItem.visible" class="unselectable dashboard-grid-item flex-item" fxFlex="280px" (click)="navigate(gridItem)" [ngStyle]="{'cursor': gridItem.disabled ? '' : 'pointer'}">
				<img class="dashboard-grid-item-img" [src]="gridItem.img">
				<div class="dashboard-grid-item-text-area">
					{{gridItem.title}}
					<div class="dashboard-grid-item-subtext">
						{{gridItem.subtitle}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="flex-container" fxLayout="row">
	<app-date-picker-input placeholder="Testing Time" class="flex-item" fxFlex="320px"></app-date-picker-input>
	<md-input-container class="flex-item" fxFlex="320px">
		<input mdInput placeholder="Testing Lineup">
	</md-input-container>
	<md-select placeholder="Status" class="mat-select-inline mat-select-inline-flex flex-item" fxFlex="320px">
		<md-option>
			1
		</md-option>
		<md-option>
			2
		</md-option>
		<md-option>
			3
		</md-option>
	</md-select>
</div>