<div class="dashboard-container">
	<div class="dashboard-title">
		Welcome to Landfill e-Forms!
	</div>
	<!--<img class="dashboard-logo" [src]="logoUrl">-->
	<div class="flex-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
		<div *ngFor="let gridItem of gridItems">
			<div *ngIf="gridItem.visible" class="unselectable dashboard-grid-item flex-item" fxFlex="280px" (click)="navigate(gridItem)" [ngStyle]="{'cursor': gridItem.disabled ? '' : 'pointer'}">
				<img class="dashboard-grid-item-img" [src]="gridItem.img">
				<div class="dashboard-grid-item-text-area">
					{{gridItem.title}}
					<div class="dashboard-grid-item-subtext">
						{{gridItem.subtitle}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>