<md-dialog-content>
	<div class="section-title">Assign IME Number</div>
	<div class="section-form-container">
		<md-radio-group class="example-radio-group" [(ngModel)]="action.useExisting" (ngModelChange)="resetNewDate()">
			<md-radio-button [value]="true" style="margin:4px 8px;">
				Add to Existing
			</md-radio-button>
			<md-radio-button [value]="false" style="margin:4px 8px;">
				Create New
			</md-radio-button>
		</md-radio-group>
	</div>
	<div *ngIf="action.useExisting">
		<div *ngIf="existingIMENumbers.length > 0" style="padding:32px;">
			<div class="section-subtitle">Avalable IME Numbers</div>
			<div class="ime-numbers-selection-box">
				<div *ngFor="let number of existingIMENumbers" class="ime-number-container flex-container" fxLayout="row"> 
					<div class="ime-number-info flex-item" fxFlex>
						<div class="ime-number-title">
							{{number.imeNumber}}
						</div>
						<!--<div class="ime-number-description">
							<div class="flex-item" fxFlex>Grid Count: {{number.unverifiedInstantaneousData.length + number.instantaneousData.length}}</div>
							<div class="flex-container" fxLayout="row">
								<div class="flex-item" fxFlex>Site: {{number.site.constantName}}</div>
								<div>Discovery Date: {{number.dateCode}}</div>
							</div>
						</div>-->
					</div>
					<div class="ime-number-add-button flex-item" fxFlex fxFlexAlign="center">
						<a><md-icon (click)="addToImeNumber(number)" mdTooltip="View IME Number" mdTooltipPosition="after">info_outline</md-icon></a>
					</div>
					<div class="ime-number-add-button flex-item" fxFlex fxFlexAlign="center">
						<md-icon color="accent" (click)="addToImeNumber(number)" mdTooltip="Add IME Number" mdTooltipPosition="after">add</md-icon>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="existingIMENumbers.length == 0" style="padding:8px 24px;"><i>No existing IME numbers are availble. Please create a new IME number instead.</i></div>
	</div>
	<div *ngIf="action.useExisting === false" style="padding:8px 24px;">
		<div>
			<span style="padding-left:8px;">Date</span>
			<input type="date" (change)="onDateChange($event)">
		</div>
		<div *ngIf="!action.newImeNumberString" style="padding:8px 0;">
			<i>Please select a date for the IME. The date will be used to construct the IME number.</i>
		</div>
		<div *ngIf="action.newImeNumberString" style="padding:8px 0;">
			The new IME number will be created '{{action.newImeNumberString}}', but is subject to change.
		</div>
	</div>
</md-dialog-content>
<md-dialog-actions>
	<button md-button (click)="cancel()">
		CANCEL
	</button>
	<button md-button *ngIf="!action.useExisting" (click)="createImeNumber()" [disabled]="!action.newImeNumberString">
		CREATE NEW IME
	</button>
</md-dialog-actions>