.toolbar-content {
	width: 100%;
}

.logo-container {
	a {
		margin-left: 16px;
		img {
			height: 56px;
		}
	}
}

.sidenav-contents {
	width: 250px;
}

.sidenav-link {
	height: 50px;
	background: white;
	border-bottom: solid 1px lightgray;
	cursor: pointer;
}

.sidenav-link:hover {
	background: #EEE;
}

.sidenav-link-active, .sidenav-link-active:hover {
	background: #f44336;
	color: white;
}

.sidenav-link-icon {
	text-align: center;
}