.toolbar-content {
	width: 100%;
}

.logo-container {
	a {
		margin-left: 16px;
		img {
			height: 56px;
		}
	}
}

.sidenav-contents {
	width: 250px;
}

.sidenav-section {

}

.sidenav-section-header {
	color: #fff;
    background: #999;
    font-size: 0.8rem;
    padding: 3px 20px;
	text-transform: uppercase;
	display: none;
}

.sidenav-link {
	height: 50px;
	color: #555;
	background: white;
	border-bottom: solid 1px lightgray;
	cursor: pointer;
}

.sidenav-link:hover {
	background: #EEE;
}

.sidenav-link-active, .sidenav-link-active:hover {
	background: #FFD740;
	font-weight: bold;
}

.sidenav-link-icon {
	text-align: center;
}