<md-card class="section-single">
	<md-card-content>
		<div class="section-title">Manage Users</div>
		<div *ngIf="!isDataLoaded" class="loading-indicator-container">
			<md-spinner class="loading-indicator-spinner"></md-spinner>
			<div class="loading-indicator-message">{{loadingMessage}}</div>
		</div>
		<div *ngIf="isDataLoaded" class="list-table">
			<div class="list-table-header-row flex-container" fxLayout="row">
				<div class="truncate flex-item" fxFlex>
					Username
				</div>
				<div class="truncate flex-item" fxFlex="25">
					Name
				</div>
				<div class="truncate flex-item" fxFlex="25">
					Email
				</div>
				<div class="truncate flex-item" fxFlex="25">
					Employee ID
				</div>
				<div class="truncate flex-item" fxFlex="50px" style="text-align:center;">
					Active
				</div>
			</div>
			<div *ngFor="let user of users; let isOdd = odd" class="list-table-row flex-container" fxLayout="row" [ngClass]="{'list-table-odd-row': isOdd}">
				<div class="truncate flex-item" fxFlex>
					<a [routerLink]="'../user/' + user.username" routerLikeActive="active">
						{{user.username}}
					</a>
				</div>
				<div class="truncate flex-item" fxFlex="25">
					{{user.person.firstname}} {{user.person.lastname}}
				</div>
				<div class="truncate flex-item" fxFlex="25">
					{{user.person.emailAddress}}
				</div>
				<div class="truncate flex-item" fxFlex="25">
					{{user.person.employeeId}}
				</div>
				<div class="flex-item" fxFlex="50px" style="text-align:center;">
					<md-icon *ngIf="user.enabled" style="color:#0D0;">check</md-icon>
					<md-icon *ngIf="!user.enabled" style="color:#D00;">close</md-icon>
				</div>
			</div>
		</div>
	</md-card-content>
	<md-card-actions>
		<button md-button (click)="openNewUserDialog()">
			NEW USER
		</button>
	</md-card-actions>
</md-card>