<md-toolbar>
	<div class="toolbar-content flex-container" fxLayout="row" fxLayoutAlign="space-between center">
		<div class="flex-item" fxFlex="40px">
			<button md-icon-button (click)="action()">
				<md-icon>menu</md-icon>
			</button>
		</div>
		<div class="logo-container flex-item" fxFlex>
			<a routerLink="dashboard" routerLikeActive="active">
				<img [src]="logoUrl">
			</a>
		</div>
		<div class="flex-item" fxFlex="100px">
			<button md-raised-button color="accent" (click)="logout()">LOGOUT</button>
		</div>
	</div>
	<!--<div class="navbar-shadow"></div>-->
</md-toolbar>