<div *ngIf="!instrument">
	<div style="padding:16px;">
		Select an equipment to view its details.
	</div>
</div>
<div *ngIf="instrument" style="height:calc(100% - 128px);">
	<div class="sideinfo-sections-container">
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				General
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Date Created
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrument.createdDate)}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Last Modified
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrument.modifiedDate)}}
				</div>
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Equipment
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Manufacturer
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.instrumentType.manufacturer}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Type
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.instrumentType.type}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Serial Number
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.serialNumber}}
				</div>
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Description
			</div>
			<div class="sideinfo-section-data-paragraph" style="width:256px;">
				{{instrument.description}}
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Service
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Next Service
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrument.serviceDueDate)}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Last Service
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrument.lastServiceDate)}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Purchase Date
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrument.purchaseDate)}}
				</div>
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Tracking
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Assigned Site
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.site.name}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Inventory No.
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.inventoryNumber}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Status
				</div>
				<div class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{instrument.instrumentStatus.name}}
				</div>
			</div>
		</div>
	</div>
</div>