<div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center" style="margin:16px;">
	<div class="flex-item" fxFlex="47">
		<div class="section-subtitle">Avalable Groups</div>
		<div class="groups-selection-box">
			<div *ngFor="let group of availableGroups" class="group-container flex-container" fxLayout="row"> 
				<div class="group-add-button flex-item" fxFlex fxFlexAlign="center">
					<md-icon color="accent" (click)="addGroup(group)" mdTooltip="Add Group" mdTooltipPosition="after">add</md-icon>
				</div>
				<div class="group-info flex-item" fxFlex>
					<div class="group-title">
						<div *ngIf="group.group">
							{{group.group}} - {{group.groupAction}}
						</div>
						<div *ngIf="!group.group">
							{{group.name}}
						</div>
					</div>
					<div class="group-description">
						{{group.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-item" fxFlex="47">
		<div class="section-subtitle">Assigned Groups</div>
		<div class="groups-selection-box">
			<div *ngFor="let group of selectedGroups" class="group-container flex-container" fxLayout="row"> 
				<div class="group-add-button flex-item" fxFlex fxFlexAlign="center">
					<md-icon color="warn" (click)="removeGroup(group)" mdTooltip="Remove Group" mdTooltipPosition="after">remove</md-icon>
				</div>
				<div class="group-info flex-item" fxFlex>
					<div class="group-title">
						<div *ngIf="group.group">
							{{group.group}} - {{group.groupAction}}
						</div>
						<div *ngIf="!group.group">
							{{group.name}}
						</div>
					</div>
					<div class="group-description">
						{{group.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<button md-button (click)="consoleLog()">CONSOLE LOG</button>-->