$group-add-remove-button-width: 50px;

.groups-selection-box {
	width: calc(100% - 16px);
	height: 320px;
	overflow-y: auto;
	margin: 8px 0;
	border-top: solid 1px rgba(0,0,0,0.12);
	border-bottom: solid 1px rgba(0,0,0,0.12);
}

.group-container {
	width: 100%;
	border-bottom: solid 1px rgba(0,0,0,0.12);
	background: #FFF;
	transition: background 0.2s linear;
}

.group-container:hover {
	background: #F7F7F7;
}

.group-add-button {
	max-width: $group-add-remove-button-width;
	md-icon {
		font-size: 2em;
		cursor: pointer;
	}
}

.group-info {
	width: calc(100% - #{$group-add-remove-button-width});
	height: 56px;
}

.group-title {
	padding: 3px 0 1px 0;
}

.group-description {
	color: rgba(0,0,0,0.69);
	font-size: 0.91em;
	//font-weight: 300;
	height: 30px;
	overflow-y: auto;
	//width: calc(100% - #{$group-add-remove-button-width});
}