<md-card class="section-single">
	<md-card-content>
		<div class="section-title">User Groups</div>
		<div *ngIf="!isDataLoaded" class="loading-indicator-container">
			<md-spinner class="loading-indicator-spinner"></md-spinner>
			<div class="loading-indicator-message">{{loadingMessage}}</div>
		</div>
		<div *ngIf="isDataLoaded" class="data-table">
			<div class="unselectable data-table-header-row flex-container" fxLayout="row">
				<div class="truncate flex-item" fxFlex (click)="sortByGroupName()">
					<span class="data-table-header-label-sortable">Group Name</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'name'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex="100px" (click)="sortByUserCount()">
					<span class="data-table-header-label-sortable">Users</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'users'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex="60">
					<span class="data-table-header-label">Description</span>
				</div>
				<div class="truncate flex-item" fxFlex="50px" style="text-align:center;">
					<span class="data-table-header-label">Delete</span>
				</div>
			</div>
			<div *ngFor="let group of userGroups; let isOdd = odd" class="data-table-row flex-container" fxLayout="row" [ngClass]="{'data-table-odd-row': isOdd}">
				<div class="truncate flex-item" fxFlex>
					<a [routerLink]="'../user-group/' + group.id">
						{{group.name}}
					</a>
				</div>
				<div class="truncate flex-item" fxFlex="100px">
					{{group.users.length}}
				</div>
				<div class="truncate flex-item" fxFlex="60">
					{{group.description}}
				</div>
				<!--<div class="truncate flex-item" fxFlex="25">
					{{user.emailAddress}}
				</div>
				<div class="truncate flex-item" fxFlex="25">
					{{user.employeeId}}
				</div>-->
				<div class="flex-item" fxFlex="50px" style="text-align:center;">
					<md-icon (click)="delete(group)" style="color:#F00;cursor:pointer;">delete</md-icon>
				</div>
			</div>
		</div>
	</md-card-content>
</md-card>
<div class="fab-bottom-container">
	<button md-fab (click)="openNewUserGroupDialog()" mdTooltip="Create User Group" mdTooltipPosition="above">
		<md-icon>add</md-icon>
	</button>
</div>