<div *ngIf="!instrumentType">
	<div class="sideinfo-not-selected">
		<md-icon>pageview</md-icon>
		<div>Select an equipment type to view its details.</div>
	</div>
</div>
<div *ngIf="instrumentType" style="height:calc(100% - 128px);">
	<div  class="sideinfo-sections-container">
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				General
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Date Created
				</div>
				<div *ngIf="instrumentType.createdDate" class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrumentType.createdDate)}} {{DateTimeUtils.getTime(instrumentType.createdDate)}}
				</div>
			</div>
			<div class="sideinfo-section-data-row flex-container" fxLayout="row" fxLayoutAlign="start center">
				<div class="sideinfo-section-data-key flex-item" fxFlex="96px">
					Last Modified
				</div>
				<div *ngIf="instrumentType.modifiedDate" class="sideinfo-section-data-value truncate flex-item" fxFlex="160px">
					{{DateTimeUtils.getDate(instrumentType.modifiedDate)}} {{DateTimeUtils.getTime(instrumentType.modifiedDate)}}
				</div>
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Description
			</div>
			<div class="sideinfo-section-data-paragraph" style="width:256px;">
				{{instrumentType.description}}
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Instruments
			</div>
			<div *ngIf="instrumentType.instruments.length == 0" class="sideinfo-section-data-list-item truncate" style="width:256px;">
				<i>No instruments found</i>
			</div>
			<div *ngFor="let instrument of instrumentType.instruments" class="sideinfo-section-data-list-item truncate" style="width:256px;">
				<!-- TODO Sort the serial numbers. -->
				{{instrument.serialNumber}}
			</div>
		</div>
		<div class="sideinfo-section">
			<div class="sideinfo-section-header">
				Applicable Tests
			</div>
			<div *ngIf="tests.length == 0" class="sideinfo-section-data-list-item truncate" style="width:256px;">
				<i>No applicable tests</i>
			</div>
			<div *ngFor="let test of tests" class="sideinfo-section-data-list-item truncate" style="width:256px;">
				{{test}}
			</div>
		</div>
	</div>
</div>