<div style="padding-bottom:24px">
    <a href="/instantaneous_report">View Reports</a>
</div>
<h3>Add Instantaneous Data (for testing purposes)</h3>
<div>
    <table>
        <tr>
            <th>Barometric</th>
            <th>Methane</th>
            <th>Grid (PK)</th>
            <th>IME Number</th>
        </tr>
        <tr *ngFor="let row of values">
            <td>
                <input [(ngModel)]="row.baro" type="number">
            </td>
            <td>
                <input [(ngModel)]="row.meth" type="number">
            </td>
            <td>
                <input [(ngModel)]="row.grid" type="number">
            </td>
            <td>
                <input [(ngModel)]="row.ime">
            </td>
    </table>
</div>
<div class="button">
    <button (click)="insertRow()">Add Row</button>
</div>
<div class="button">
    <button (click)="saveTest()">Save</button>
</div>

