<md-dialog-content>
	<div class="section-title">Create New Equipment Type</div>
	<div class="section-form-container">
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Type" [(ngModel)]="instrumentType.type">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Manufacturer" [(ngModel)]="instrumentType.manufacturer">
		</md-input-container>
		<md-input-container class="md-input-full-width">
			<input mdInput placeholder="Description" [(ngModel)]="instrumentType.description">
		</md-input-container>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.instantaneous">Instantaneous/Integrated</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.probe">Probes/Gas Wells</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.methanePercent">CH<sub>4</sub> Percent</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.methanePpm">CH<sub>4</sub> ppm</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.hydrogenSulfidePpm">H<sub>2</sub>S ppm</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.oxygenPercent">O<sub>2</sub> Percent</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.carbonDioxidePercent">CO<sub>2</sub> Percent</md-checkbox>
		</div>
		<div>
			<md-checkbox [(ngModel)]="instrumentType.nitrogenPercent">N<sub>2</sub> Percent</md-checkbox>
		</div>
		<div>	
			<md-checkbox [(ngModel)]="instrumentType.pressure">Pressure</md-checkbox>
		</div>
	</div>
</md-dialog-content>
<md-dialog-actions>
	<button md-button (click)="cancel()">
		CANCEL
	</button>
	<button md-button (click)="confirm()">
		CONFIRM
	</button>
</md-dialog-actions>