<div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center" style="margin:16px;">
	<div class="flex-item" fxFlex="47">
		<div class="section-subtitle">Avalable Permissions</div>
		<div class="permissions-selection-box">
			<div *ngFor="let permission of availablePermissions" class="permission-container flex-container" fxLayout="row"> 
				<div class="permission-add-button flex-item" fxFlex fxFlexAlign="center">
					<md-icon color="accent" (click)="addPermission(permission)" mdTooltip="Add Permission" mdTooltipPosition="after">add</md-icon>
				</div>
				<div class="permission-info flex-item" fxFlex>
					<div class="permission-title">
						<div *ngIf="permission.group">
							{{permission.group}} - {{permission.groupAction}}
						</div>
						<div *ngIf="!permission.group">
							{{permission.name}}
						</div>
					</div>
					<div class="permission-description">
						{{permission.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="flex-item" fxFlex="47">
		<div class="section-subtitle">Assigned Permissions</div>
		<div class="permissions-selection-box">
			<div *ngFor="let permission of selectedPermissions" class="permission-container flex-container" fxLayout="row"> 
				<div class="permission-add-button flex-item" fxFlex fxFlexAlign="center">
					<md-icon color="warn" (click)="removePermission(permission)" mdTooltip="Remove Permission" mdTooltipPosition="after">remove</md-icon>
				</div>
				<div class="permission-info flex-item" fxFlex>
					<div class="permission-title">
						<div *ngIf="permission.group">
							{{permission.group}} - {{permission.groupAction}}
						</div>
						<div *ngIf="!permission.group">
							{{permission.name}}
						</div>
					</div>
					<div class="permission-description">
						{{permission.description}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--<button md-button (click)="consoleLog()">CONSOLE LOG</button>-->