<md-card class="section-single">
	<md-card-content>
		<div class="section-title">Unverified Data Sets</div>
		<div *ngIf="!isDataLoaded" class="loading-indicator-container">
			<md-spinner class="loading-indicator-spinner"></md-spinner>
			<div class="loading-indicator-message">Loading Data...</div>
		</div>
		<div *ngIf="isDataLoaded" class="data-table">
			<div class="unselectable data-table-header-row flex-container" fxLayout="row">
				<div class="truncate flex-item" fxFlex (click)="sortBy('site')">
					<span class="data-table-header-label-sortable">Site</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'site'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex (click)="sortBy('uploadedBy')">
					<span class="data-table-header-label-sortable">Uploaded By</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'uploadedBy'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex (click)="sortBy('uploadedDate')">
					<span class="data-table-header-label-sortable">Upload Date</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'uploadedDate'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex (click)="sortBy('modifiedBy')">
					<span class="data-table-header-label-sortable">Modified By</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'modifiedBy'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex (click)="sortBy('modifiedDate')">
					<span class="data-table-header-label-sortable">Modified Date</span>
					<md-icon class="data-table-header-sort-arrow" [ngClass]="{
						'data-table-header-sort-arrow-reverse':sort.reversed,
						'data-table-header-sort-arrow-inactive':sort.current !== 'modifiedDate'}">
						arrow_downward</md-icon>
				</div>
				<div class="truncate flex-item" fxFlex>
					<span class="data-table-header-label">Filename</span>
				</div>
				<div class="truncate flex-item" fxFlex="50px" style="text-align:center;">
					<span class="data-table-header-label">Edit</span>
				</div>
			</div>
			<div *ngFor="let dataSet of dataSets; let isOdd = odd" class="data-table-row flex-container" fxLayout="row" [ngClass]="{'data-table-odd-row': isOdd}">
				<div class="truncate flex-item" fxFlex>
					{{dataSet.site.name}}
				</div>
				<div class="truncate flex-item" fxFlex>
					{{dataSet.uploadedBy ? StringUtils.formatUserName(dataSet.uploadedBy) : ''}}
				</div>
				<div class="truncate flex-item" fxFlex>
					{{dataSet.uploadedDate ? DateTimeUtils.getDate(dataSet.uploadedDate) : ''}}
				</div>
				<div class="truncate flex-item" fxFlex>
					{{dataSet.modifiedBy ? StringUtils.formatUserName(dataSet.modifiedBy) : ''}}
				</div>
				<div class="truncate flex-item" fxFlex>
					{{dataSet.modifiedDate ? DateTimeUtils.getDate(dataSet.modifiedDate) : ''}}
				</div>
				<div class="truncate flex-item" fxFlex>
					{{dataSet.filename}}
				</div>
				<div class="flex-item" fxFlex="50px" style="text-align:center;">
					<md-icon [routerLink]="'../unverified-data-set/' + dataSet.id" mdTooltip="Edit" mdTooltipPosition="after" style="color:#07F;cursor:pointer;">edit</md-icon>
				</div>
			</div>
		</div>
	</md-card-content>
</md-card>