<div class="page-title">Mobile Data Sync</div>
<div class="page-subtitle">
	Sync data between the Android application and the web application. 
	Data files exported from the Android application can be uploaded to the web application, and data files downloaded from the web application can be imported into the Android application.
</div>
<div class="selector-cards-container flex-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
	<div *ngIf="uploadCard.visible" class="selector-card-container flex-item" fxFlex="320px">
		<div class="selector-card">
			<img class="selector-card-img" [src]="uploadCard.img">
			<div class="selector-card-title-container">
				<div class="selector-card-title">{{uploadCard.title}}</div>
				<div class="selector-card-subtitle">{{uploadCard.subtitle}}</div>
			</div>
			<div class="selector-card-action">
				<button md-button [routerLink]="'../' + uploadCard.route.path">SELECT</button>
			</div>
		</div>
	</div>
	<div *ngIf="downloadCard.visible" class="selector-card-container flex-item" fxFlex="320px">
		<div class="selector-card">
			<img class="selector-card-img" [src]="downloadCard.img">
			<div class="selector-card-title-container">
				<div class="selector-card-title">{{downloadCard.title}}</div>
				<div class="selector-card-subtitle">{{downloadCard.subtitle}}</div>
			</div>
			<div class="selector-card-action">
				<button md-button (click)="download()">SELECT</button>
			</div>
		</div>
	</div>
</div>