<p>I need to sleep...</p>

Grid 
<input [(ngModel)]="dataGrid" >
<br>
Value
<input [(ngModel)]="dataValue" type="number">
<br>
<button (click)="insertTest(dataGrid, dataValue)">INSERT</button>
<br>
<br>
Get By Grid
<input [(ngModel)]="searchGrid" >
<button (click)="getTest(searchGrid)">GET GRID</button>
<br>
<table>
    <tr>
        <th>ID</th>
        <th>Grid</th>
        <th>Value</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
    </tr>
    <tr *ngFor="let sleep of sleepData">
        <td>{{sleep.id}}</td>
        <td>{{sleep.grid}}</td>
        <td>{{sleep.value}}</td>
        <td>{{getDate(sleep.startTime)}}</td>
        <td>{{getTime(sleep.startTime)}}</td>
        <td>{{getTime(sleep.endTime)}}</td>
    </tr>
</table>