<div style="height:calc(100% - 121px);"> <!-- Browser dependent. Test on multiple browsers before setting this value. -->
	<div *ngIf="!isDataLoaded" class="loading-indicator-container">
		<md-spinner class="loading-indicator-spinner"></md-spinner>
		<div class="loading-indicator-message">{{loadingMessage}}</div>
	</div>
	<div *ngIf="isDataLoaded" class="data-table-scrollable">
		<div class="data-table-filter-container-row flex-container" fxLayout="row" fxLayoutAlign="end center">
			<div *ngIf="showFilters" class="data-table-filter-container flex-item flex-container" fxFlex fxLayout="row" fxLayoutAlign="end center">
				<div class="flex-item" fxFlex="152px"></div>
				<md-input-container *ngIf="showFilters" 
					[hintLabel]="textFilterStatus.errorMessage" 
					class="mat-input-container-inline flex-item" 
					fxFlex
					[ngClass]="{'mat-input-container-error':!textFilterStatus.valid}">
					<input mdInput placeholder="Search" [(ngModel)]="filters.text" (ngModelChange)="applyFilters()">
				</md-input-container>
				<md-select [(ngModel)]="filters.status" placeholder="Status" class="mat-select-inline flex-item" fxFlex="150px" (ngModelChange)="applyFilters()">
					<md-option *ngFor="let status of statusFilterChoices" [value]="status.value">
						{{status.label}}
					</md-option>
				</md-select>
			</div>
			<button md-icon-button 
				(click)="toggleFilters()" 
				class="flex-item" 
				fxFlex="40px"
				mdTooltip="Filter" 
				mdTooltipPosition="below">
				<md-icon>filter_list</md-icon>
			</button>
			<button md-icon-button 
				(click)="toggleSideInfo()" 
				class="flex-item" 
				fxFlex="40px" 
				[mdTooltip]="showSideInfo ? 'Hide Details' : 'Show Details'" 
				mdTooltipPosition="below">
				<md-icon>{{showSideInfo ? 'chevron_right' : 'chevron_left'}}</md-icon>
			</button>
		</div>
		<div class="unselectable data-table-header-row flex-container" fxLayout="row">
			<div class="data-table-first-column truncate flex-item" fxFlex="10" (click)="sortBy('username')">
				<span class="data-table-header-label-sortable" [ngClass]="{
					'data-table-header-label-sorted':sort.current == 'username'}">
					Username
				</span>
				<md-icon class="data-table-header-sort-arrow" [ngClass]="{
					'data-table-header-sort-arrow-reverse':sort.reversed,
					'data-table-header-sort-arrow-inactive':sort.current !== 'username'}">
					arrow_downward
				</md-icon>
			</div>
			<div class="data-table-column truncate flex-item" fxFlex="13" (click)="sortBy('name')">
				<span class="data-table-header-label-sortable" [ngClass]="{
					'data-table-header-label-sorted':sort.current == 'name'}">
					Name
				</span>
				<md-icon class="data-table-header-sort-arrow" [ngClass]="{
					'data-table-header-sort-arrow-reverse':sort.reversed,
					'data-table-header-sort-arrow-inactive':sort.current !== 'name'}">
					arrow_downward
				</md-icon>
			</div>
			<div class="data-table-column truncate flex-item" fxFlex (click)="sortBy('emailAddress')">
				<span class="data-table-header-label-sortable" [ngClass]="{
					'data-table-header-label-sorted':sort.current == 'emailAddress'}">
					Email
				</span>
				<md-icon class="data-table-header-sort-arrow" [ngClass]="{
					'data-table-header-sort-arrow-reverse':sort.reversed,
					'data-table-header-sort-arrow-inactive':sort.current !== 'emailAddress'}">
					arrow_downward
				</md-icon>
			</div>
			<div class="data-table-column truncate flex-item" fxFlex="13" (click)="sortBy('employeeId')">
				<span class="data-table-header-label-sortable" [ngClass]="{
					'data-table-header-label-sorted':sort.current == 'employeeId'}">
					Employee ID
				</span>
				<md-icon class="data-table-header-sort-arrow" [ngClass]="{
					'data-table-header-sort-arrow-reverse':sort.reversed,
					'data-table-header-sort-arrow-inactive':sort.current !== 'employeeId'}">
					arrow_downward
				</md-icon>
			</div>
			<div class="data-table-last-column truncate flex-item" fxFlex="40px" style="text-align:center;">
				<span class="data-table-header-label">Status</span>
			</div>
		</div>
		<div class="data-table-scrollable-area">
			<div *ngFor="let user of paginatedData" class="data-table-row">
				<div class="data-table-row-content flex-container" 
					fxLayout="row" 
					(click)="selectUser(user)"
					(dblclick)="navigateToUser(user)"
					[ngClass]="{'data-table-row-content-active': user === selectedUser}">
					<div class="data-table-first-column truncate flex-item" fxFlex="10">
						<a [routerLink]="user.username">
							{{user.username}}
						</a>
					</div>
					<div class="data-table-column truncate flex-item" fxFlex="13">
						{{stringUtils.formatUserName(user)}}
					</div>
					<div class="data-table-column truncate flex-item" fxFlex>
						{{user.emailAddress}}
					</div>
					<div class="data-table-column truncate flex-item" fxFlex="13">
						{{user.employeeId}}
					</div>
					<div class="data-table-last-column flex-item" fxFlex="40px" style="text-align:center;">
						<md-icon *ngIf="user.enabled" style="color:#0D0;margin-top:-4px;">check</md-icon>
						<md-icon *ngIf="!user.enabled" style="color:#D00;margin-top:-4px;">close</md-icon>
					</div>
				</div>
			</div>
		</div>
		<app-pagination #pagination
			[paginfo]="paginfo"
			[showPageSelector]="true" 
			[showFirstLastPage]="true"
			(changed)="applyPagination()">
		</app-pagination>
	</div>
</div>