<div *ngIf="data.length > 0" class="data-table">
	<div class="unselectable data-table-header-row flex-container" fxLayout="row">
		<div class="truncate flex-item" fxFlex (click)="sortBy('ime')">
			<span class="data-table-header-label-sortable">IME#</span>
			<md-icon class="data-table-header-sort-arrow" [ngClass]="{
				'data-table-header-sort-arrow-reverse': sort.reversed,
				'data-table-header-sort-arrow-inactive': sort.current !== 'ime'}">
				arrow_downward</md-icon>
		</div>
		<div class="truncate flex-item" fxFlex (click)="sortBy('date')">
			<span class="data-table-header-label-sortable">Discovery Date</span>
			<md-icon class="data-table-header-sort-arrow" [ngClass]="{
				'data-table-header-sort-arrow-reverse': sort.reversed,
				'data-table-header-sort-arrow-inactive': sort.current !== 'date'}">
				arrow_downward</md-icon>
		</div>
		<div class="truncate flex-item" fxFlex (click)="sortBy('initMethaneLevel')">
			<span class="data-table-header-label-sortable">Initial Reading</span>
			<md-icon class="data-table-header-sort-arrow" [ngClass]="{
				'data-table-header-sort-arrow-reverse': sort.reversed,
				'data-table-header-sort-arrow-inactive': sort.current !== 'initMethaneLevel'}">
				arrow_downward</md-icon>
		</div>
		<div class="truncate flex-item" fxFlex (click)="sortBy('lastMethaneLevel')">
			<span class="data-table-header-label-sortable">Latest Reading</span>
			<md-icon class="data-table-header-sort-arrow" [ngClass]="{
				'data-table-header-sort-arrow-reverse': sort.reversed,
				'data-table-header-sort-arrow-inactive': sort.current !== 'lastMethaneLevel'}">
				arrow_downward</md-icon>
		</div>
		<div class="truncate flex-item" fxFlex="100px" style="text-align:center;">
			<span class="data-table-header-label">Status</span>
		</div>
	</div>
	<div *ngFor="let ime of data; let isOdd = odd" class="data-table-row flex-container" fxLayout="row" [ngClass]="{'data-table-odd-row': isOdd}">
		<div class="truncate flex-item" fxFlex>
			<a *ngIf="edit" [routerLink]="'../ime-number/' + ime.imeNumber">
				{{ime.imeNumber}}
			</a>
			<div *ngIf="!edit">
				{{ime.imeNumber}}
			</div>
		</div>
		<div class="truncate flex-item" fxFlex>{{ime.imeData[0] ? dateTimeUtils.getDate(ime.imeData[0].dateTime) : 'Unknown'}}</div>
		<div class="truncate flex-item" fxFlex>{{ime.imeData[0] ? ime.imeData[0].methaneLevel / 100 : 'Unknown'}}</div>
		<div class="truncate flex-item" fxFlex>{{ime.imeData[0] ? ime.imeData[ime.imeData.length - 1].methaneLevel / 100 : 'Unknown'}}</div>
		<div class="truncate flex-item" fxFlex="100px"></div>
	</div>
</div>