<div style="padding-bottom:24px">
    <a href="/instantaneous_upload">Upload JSON File</a>
    <a href="/instantaneous_test">Add Test Data</a>
</div>
<h3>Instantaneous Reports</h3>
<div style="padding-bottom:5px">
    <select [(ngModel)]="sites.selected">
        <option *ngFor="let site of sites.list" [ngValue]="site">
            {{site.siteName}}
        </option>
    </select>
    <button (click)="getData()">Apply</button>
</div>
<div *ngIf="data.length > 0">
    <table>
        <tr>
            <th>Date</th>
            <th>Barom.</th>
            <th>Inspector</th>
            <th>Grid</th>
            <th>Start</th>
            <th>End</th>
            <th>Instrument</th>
            <th>Reading</th>
            <th>IME#</th>
        </tr>
        <tr *ngFor="let inst of data" [ngClass]="getStatus(inst.methaneLevel / 100)">
            <td>{{getDate(inst.startTime)}}</td>
            <td>{{inst.barometricPressure / 100}}</td>
            <td>{{inst.user.firstname}} {{inst.user.lastname}}</td>
            <td>{{inst.monitoringPoint.monitoringPointName}}</td>
            <td>{{getTime(inst.startTime)}}</td>
            <td>{{getTime(inst.endTime)}}</td>
            <td>{{inst.instrument.serialNumber}}</td>
            <td>{{inst.methaneLevel / 100}}</td>
            <td>{{inst.imeNumber}}</td>
        </tr>
    </table>
</div>