<md-card class="section-single">
	<md-card-content>
        <h2>Instantaneous Reports</h2>
        <div style="padding-bottom:5px">
            <md-select [(ngModel)]="sites.selected" placeholder="Site" style="width:200px;padding-right:32px;">
                <md-option *ngFor="let site of sites.list" [value]="site">
                    {{site.name}}
                </md-option>
            </md-select>
            <button md-raised-button (click)="getData()">VIEW REPORT</button>
        </div>
        <div *ngIf="data.length > 0" class="list-table">
            <div class="list-table-header flex-container" fxLayout="row">
                <div class="flex-item" fxFlex>Date</div>
                <div class="flex-item" fxFlex>Barom.</div>
                <div class="flex-item" fxFlex>Inspector</div>
                <div class="flex-item" fxFlex>Grid</div>
                <div class="flex-item" fxFlex>Start</div>
                <div class="flex-item" fxFlex>End</div>
                <div class="flex-item" fxFlex>Instrument</div>
                <div class="flex-item" fxFlex>Reading</div>
                <div class="flex-item" fxFlex (click)="orderBy('imeNumber')">IME#</div>
            </div>
            <div *ngFor="let inst of data; let isOdd = odd" class="list-table-row flex-container" fxLayout="row" [ngClass]="{'list-table-odd-row': isOdd, 'warmspot': getStatus(inst.methaneLevel) == 'warmspot', 'hotspot': getStatus(inst.methaneLevel) == 'hotspot'}">
                <div class="truncate flex-item" fxFlex>{{getDate(inst.startTime)}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.barometricPressure / 100}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.user.person.firstname}} {{inst.user.person.lastname}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.monitoringPoint.monitoringPointName}}</div>
                <div class="truncate flex-item" fxFlex>{{getTime(inst.startTime)}}</div>
                <div class="truncate flex-item" fxFlex>{{getTime(inst.endTime)}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.instrument.serialNumber}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.methaneLevel / 100}}</div>
                <div class="truncate flex-item" fxFlex>{{inst.imeNumber}}</div>
            </div>
        </div>
	</md-card-content>
</md-card>