.info-tab-content {
	padding: 0 24px;
	color: rgba(0,0,0,0.87);
}

h1 {
	margin: 0;
    padding-top: 24px;
	font-size: 34px;
	font-weight: 400;
}

h2 {
	font-size: 24px;
	font-weight: 400;
}

p {
	padding-bottom: 16px;
	margin: 0;
}

ul {
	margin: 0;
}

li {
	padding-bottom: 16px;
}