<md-tab-group>
	<md-tab label="About">
		<div class="info-tab-content">
			<h1>About Landfill e-Forms</h1>
			<h2>Introduction</h2>
			<p>
				The Landfill e-Forms project was devolped as part of the senior design program at California State University, Los Angeles.
			</p>
			<p>
				The purpose of this project is to convert the City of Los Angeles, Department of Sanitation's methane emission auditing system from paper to fully electronic in order to improve efficiency, reduce human error, and speed up report production.
				The project consists of the development two applications: a mobile application for on-field use and a web application for desktop use. 
				The mobile application is developed for the Android Operating System and will allow the user to enter and search data on the mobile device.
				The web application was developed with using Angular 4 on the front-end, Java/Spring on the back-end, and Microsoft's SQL Server for the database. 
				The web application serves as the main source for data validation, data search, and generating reports.
				Data can be synced between the web application and the mobile devices via hardwired sync.
			</p>
			<h2>Project Members - 2017</h2>
			<div class="flex-container" fxLayout="row" fxLayoutAlign="start start" fxLayoutWrap>
				<div class="flex-item" fxFlex="320px">
					<p>Development Team:</p>
					<ul>
						<li>Alfredo Aleman</li>
						<li>Allen Huang</li>
						<li>Grant Kang</li>
						<li>Chris Ow</li>
						<li>Alvin Quach</li>
					</ul>
					<p></p>
				</div>
				<div class="flex-item" fxFlex="320px">
					<p>Project Liaisons:</p>
					<ul>
						<li>William Andrews</li>
						<li>Francis Castillo</li>
						<li>John Hamilton</li>
						<li>George Yu</li>
					</ul>
					<p></p>
				</div>
				<div class="flex-item" fxFlex="320px">
					<p>Project Advisors:</p>
					<ul>
						<li>Dr. Russ Abbott</li>
						<li>Dr. Jungsoo (Sue) Lim</li>
					</ul>
				</div>
			</div>
		</div>
	</md-tab>
	<md-tab label="Release Notes">
		<div class="info-tab-content">
			<h1>Change Log</h1>
			<h2>Version 0.2.0 - April 30, 2017 12:57 PST</h2>
			<p>
				Added infomation page containing the following three sections:
			</p>
			<ul>
				<li>About</li>
				<li>Release Notes</li>
				<li>User Manual</li>
			</ul>
			<p>
				The User Manual section is a placeholder in the time being and may or may not be implemented in the future.
				The information page can be accessed from the login screen, the dashboard, the left navigation drawer, and the dropdown menu on the navbar.
			</p>
			<p>
				No changes were made to the back-end during in this update.
			</p>
		</div>
	</md-tab>
	<md-tab label="User Manual">
		<app-coming-soon></app-coming-soon>
	</md-tab>
</md-tab-group>