<div (click)="$event.stopPropagation()">
	<div>
		<button (click)="navigateToYear(currDate.year - 1)">- Year</button>
		<span>{{currDate.year}}</span>
		<button (click)="navigateToYear(currDate.year + 1)">+ Year</button>
	</div>
	<div>
		<button (click)="navigateToMonth(currDate.month - 1)">- Month</button>
		<span>{{currDate.month}}</span>
		<button (click)="navigateToMonth(currDate.month + 1)">+ Month</button>
	</div>
	<div *ngFor="let week of calendar" class="flex-container" fxLayout="row">
		<div *ngFor="let day of week" class="flex-item" fxFlex="32px">
			<div *ngIf="!day.hidden" (click)="selectDate(day.date)">
				{{day.date == currDate.date ? '[' + day.date + ']' : day.date}}
			</div>
		</div>
	</div>
</div>