<div md-dialog-title>Change Password for '{{user.username}}'</div>
<md-dialog-content>
	<md-input-container class="md-input-full-width">
		<input mdInput placeholder="Password" [(ngModel)]="password.chosen" type="password">
	</md-input-container>
	<md-input-container class="md-input-full-width">
		<input mdInput placeholder="Verify Password" [(ngModel)]="password.verify" type="password">
	</md-input-container>
</md-dialog-content>
<md-dialog-actions>
	<button md-button (click)="cancel()">
		CANCEL
	</button>
	<button md-button (click)="confirm()">
		CONFIRM
	</button>
</md-dialog-actions>